body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h3 {
    text-align: center;
    color: #e84393;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.login_para {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #2c344b;
    animation: checkFadeIn 1s;
}

.login_para span {
    font-size: 14px;
    color: #2c344b;
    cursor: pointer;
    margin-left: 5px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.login_para .check {
    margin-right: 5px;
}

.login_para span:hover {
    opacity: 1;
}

.user-icon {
    font-size: 24px;
    background-color: #2c344b;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-icon:hover {
    background-color: #2c344b;
}

.shipping p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #c86874;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 14px;
    color: #333;
}

.form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.radio {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.radio input {
    margin-right: 5px;
}

.radio label {
    font-size: 14px;
    color: #333;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.submit,
.cancel {
    padding: 12px 20px;
    background-color: #c86874;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
}

.cancel {
    background-color: #2c344b;
}

.submit:hover,
.cancel:hover {
    background-color: #2c344b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
